:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
}

/* WebStudio */

.header__logo:hover {
  color: var(--accent-color);
}

.header__logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__accent {
  color: var(--accent-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__cell {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__cells:not(:last-child) {
  margin-right: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav__cells {
  display: block;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  position: relative;
}

/* анимация */

.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  transform: scaleX(1);
  opacity: 1;
}

/* иконка конверта и телефона*/
.auth-nav__cells {
  display: flex;
  align-items: center;
}

.auth-nav__icon-envelope {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  display: flex;
  fill: currentColor;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__icon-smartphone {
  display: block;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__envelope,
.auth-nav__smartphone {
  margin-right: 10px;
}

/* aiming*/
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/Img.fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  outline: none;
}

.button {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* advantage */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: #e5e5e5;
}
.section__advantage {
  display: flex;
  flex-wrap: wrap;
}
.section__advantage > .section__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}
.section__item:nth-child(4n) {
  margin-right: 0;
}
.section__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #212121;
}
.section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.details {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__icon {
  padding: 0;
  border: none;
}

/* what we do and our team*/
.practice {
  padding-bottom: 94px;
}
.practice__subject {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.practice__picture {
  display: flex;
  justify-content: center;
}

.practice__picture:nth-child(3n) {
  margin-right: 0;
}
.practice__effigy {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
}
.practice__effigy:nth-child(3n) {
  margin-right: 0;
}

/*  анимация  */

.figure {
  position: relative;
  justify-content: center;
}
.figure__signature {
  position: absolute;

  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

/* team list */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.features__subject {
  margin-bottom: 50px;
  color: #212121;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.features__foto {
  display: flex;
  justify-content: center;
}
.features__face {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.features__face:nth-child(4n) {
  margin-right: 0;
}

.position {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
}

.position__team {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.position__desc {
  margin-bottom: 16px;
  text-align: center;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/* ICON */

.icon {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.icon__plate:not(:last-child) {
  margin-right: 10px;
}
.icon__web {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #afb1b8;
  background-color: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__plate :hover,
.icon__plate :focus {
  background-color: #2196f3;
  fill: var(--white-color);
}

/* regular customers */

.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer__topic {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  list-style: none;

  color: #212121;
}

.customer__client {
  display: block;
  text-align: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.customer__icon {
  display: block;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__id {
  fill: currentColor;
  color: #afb1b8;
}

.customer__icon:hover,
.customer__icon:focus svg {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.customer__icon:hover svg {
  fill: #2196f3;
}

/* footer */

.footer {
  display: block;
  margin-right: 0;
  padding-top: 60px;
  padding-bottom: 0;
  background: #2f303a;
}

/* logo */
.symbol {
  color: var(--white-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.style {
  color: #2196f3;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* address */

.address {
  padding-top: 20px;
  padding-right: 0;
  width: 231px;
  height: 81px;
}
.adress-nav {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.adress a {
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* heading */

.heading {
  margin-left: 70px;
  padding: 12px 0 100px 0;
}

.adress-footer {
  display: flex;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
/* ICON*/

.footer-heading {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-network {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.icon-button {
  display: block;
  fill: currentColor;
  color: var(--white-color);
}
.icon-heading:not(:last-child) {
  margin-right: 10px;
}
.system {
  display: block;
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.system:hover,
.system:focus {
  background-color: #2196f3;
}
.system:hover {
  fill: #2196f3;
}

/* подвал mail */
.email {
  margin-left: 93px;
  margin-top: 12px;
}
.top-text {
  margin-top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
}

.field-form {
  position: relative;
  display: flex;
}
.input-form {
  width: 358px;
  height: 50px;
  padding: 16px;
  font: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.6);
  color: var(--white-color);

  outline: none;
}
.button-form {
  margin-left: 12px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  letter-spacing: 0.06em;
  color: var(--white-color);

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon-button {
  position: absolute;
  top: 13px;
  left: 518px;
  padding: 0;
  margin-left: 10px;
}
/* модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms;
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;

  transform: translate(-50%, -50%);
  background: var(--white-color);

  border-radius: 4px;
}
.close {
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  display: flex;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 8px;
  margin-right: 8px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form {
  padding: 10px 62px 10px 29px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}
.icon-close:hover,
.icon-close:focus {
  fill: #2196f3;
  cursor: pointer;
}
/* текст в модалке */

.topic {
  width: 448px;
  margin: 40px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #212121;
}
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-field label {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  cursor: pointer;
}
.form-field input {
  margin: 0;
  padding: 0px 0px 0px 42px;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input::placeholder {
  color: #000000;
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}
.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

textarea {
  padding: 0;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  color: #000000;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover,
textarea:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}
.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.checkbox-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;

  color: #757575;
}
.checkbox-icon {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 11px;
  border: 2px solid #212121;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}
.checkbox-policy:checked + .checkbox-icon {
  border-color: transparent;
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../image/symboldefs.svg#icon-iconcheck");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.form-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2196f3;
}
.form-button {
  padding: 10px 55px;
  margin: 0px 124px 49px 124px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
