/* WebStudio */
.page-header {
  display: flex;
  align-items: center;
  background-color: $white-color;
  box-sizing: border-box;
}
.header__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $logo-color;
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }
  &__accent {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
}
